
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    width: 100%;
}

.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: black;
    font-family: 'Fredoka', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px;
    z-index: 999;
    position: sticky;
    top: 0;
    color:white;
}

.header-image{
    align-items: flex-end;
    height: 8vw;
    object-fit: contain;
    padding: 0 20px;
}

.title-ecommerce{
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    color: #9F4340;
    font-weight: 700;
    font-size: 36px;
    text-shadow: rgba(12, 12, 12, 0.8) 3px 2px;
    color:white;
}

.navbar-list{
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Playpen Sans',cursive;
    font-weight: 600;
    color:white;
}

.navbar{
    font-family: 'Fredoka', sans-serif;
}

.item{
    font-family: 'Fredoka', sans-serif;
    color:white;
}
.navbar-list li{
    padding: 0 20px;
    list-style: none;
}
.navbar-list li a{
    text-decoration: none;
    color: white;
}

.navbar-list li a:hover{
    color: rgba(67, 125, 231, 1);
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px;
}

.hero-background{
    object-fit: cover;
    background-image: url(https://res.cloudinary.com/dgxmqoyv4/image/upload/v1698447189/444-01_wx4qtn.svg);
    height: 90vh;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Fredoka', sans-serif;
    opacity: 35%;
}

.hero{
    height: 90vh;
    background-size:cover;
    background-position:center;
    display: flex;
    font-family: 'Fredoka', sans-serif;
    flex-direction: column;
    align-items: flex;
}

.footer{
    height:10%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 8px 1px 1px 6px;
    z-index: 998;
    bottom: 0;
    object-fit: cover;
    flex-wrap: wrap;
    color:black;
}

.social-images{
    align-items: flex-end;
    height: 2vw;
    object-fit: contain;
    padding: 0 20px;
}

.social-images a:hover{
    color: #9F4340;
}

.footer-text{
    width: 100%;
}

.main{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    text-align: center;

    gap: 5px;
    padding: 15px;

    grid-template-areas:
       "img1 text1 text1"
       "text2 text2 img2"
       "img3 text3 text3"

    ;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mu1{
    grid-area: img1;
}

.mu2{
    grid-area: img2;
}

.mu3{
    grid-area: img3;
}

.t1{
    grid-area: text1;    
}

.t2{
    grid-area: text2;
}

.t3{
    grid-area: text3;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
}
