
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    width: 100%;
}

.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    background-color: black;
    font-family: 'Fredoka', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0rem .3125rem;
    z-index: 999;
    position: sticky;
    top: 0;
    color:white;
}

.header-image{
    align-items: flex-end;
    height: 4vw;
    object-fit: contain;
    padding-right: 1vw;
}

.title-ecommerce{
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    color: #9F4340;
    font-weight: 700;
    font-size: 2.25rem;
    text-shadow: rgba(12, 12, 12, 0.8) .1875rem .125rem;
    color:white;
}

.navbar-list{
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Playpen Sans',cursive;
    font-weight: 600;
    font-size: 1.2vw;
    color:white;
}

.navbar{
    font-family: 'Bree Serif', serif;
}

.item{
    font-family: 'Bree Serif', serif;
    color:white;
}
.navbar-list li{
    padding: 0 2vw;
    list-style: none;
}
.navbar-list li a{
    text-decoration: none;
    color: white;
}

.navbar-list li a:hover{
    color: rgba(67, 125, 231, 1);
    text-shadow: rgba(255, 255, 255, 0.5) .0625rem .0625rem;
}

.hero-background{
    object-fit: cover;
    background-image: url(https://res.cloudinary.com/dgxmqoyv4/image/upload/v1698447189/444-01_wx4qtn.svg);
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Fredoka', sans-serif;
    opacity: 35%;
}

.hero{
    background-size:cover;
    background-position:center;
    display: flex;
    font-family: 'Fredoka', sans-serif;
    flex-direction: column;
    align-items: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.hero-background-electronica{
    background-image: url(https://res.cloudinary.com/dgxmqoyv4/image/upload/v1698802883/fondo_electronica-01.-01_ptav2g.png);
}

.hero-background-rock{
    background-image: url(https://res.cloudinary.com/dgxmqoyv4/image/upload/v1698887929/3d-grunge-room-interior-with-spotlights-shining-down_k7zqic.jpg);
}

.hero-background-jazz{
    background-image: url(https://res.cloudinary.com/dgxmqoyv4/image/upload/v1698888408/jazz_pattern-01_lof6cf.png);
}

.footer{
    width: 100%;
    height:10%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1.25rem;
    margin: 0;
    background-color: black;
    font-family: 'Fredoka', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) .5rem .0625rem .0625rem .375rem;
    object-fit: cover;
    flex-wrap: wrap;
    color:white;
}

.social-images{
    align-items: flex-end;
    height: 2vw;
    object-fit: contain;
    padding: 0 1.25rem;
}

.social-images a:hover{
    color: #9F4340;
}

.footer-text{
    width: 100%;
}

.main{
    display: grid;
    width: 90vw;
    align-items: center;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    text-align: center;

    gap: .3125rem;
    padding: .9375rem;

    grid-template-areas:
       "img1 text1 text1"
       "text2 text2 img2"
       "img3 text3 text3"

    ;
}


.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mu1{
    grid-area: img1;
}

.mu2{
    grid-area: img2;
}

.mu3{
    grid-area: img3;
}

.t1{
    grid-area: text1;    
}

.t2{
    grid-area: text2;
}

.t3{
    grid-area: text3;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 10px;
}

.text b{
    font-family: 'Bree Serif', serif;
    font-size: 2.5vw;
}

.header-container{
    grid-auto-rows: auto;
    background-image: url(https://res.cloudinary.com/dz14om75h/image/upload/v1696037003/samples/man-on-a-escalator.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.row{
    align-items: center;
}

.white-text{
    color: white;
}

.rainbow-text:hover {
    background: linear-gradient(270deg, #402466, #3223ff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}